<v-flex xs2 class="options-list">

  <!-- 布局 -->
  <ul class="layout" ref="listData" id="scroll-target" v-scroll:#scroll-target="onScroll" v-if="listData.length !== 0 && check === 'layouts'">
    <li class="item" v-for="(item,index) in listData" :key="index" @click="on_itemClick(item)">
      <img class="layout_img" :src="item.thumb_path" alt="thumb_path">
      <p class="text">{{item.sku}}</p>
    </li>
    <li class="loading" v-if="loading">
        <v-progress-circular indeterminate color="green"></v-progress-circular>
    </li>
  </ul>
  <!-- 贴图 -->
  <ul class="frame" ref="listData" id="scroll-target" v-scroll:#scroll-target="onScroll" v-if="listData.length !== 0 && check === 'sticker'">
    <li class="item" v-for="(item,index) in listData" :key="index" @click="on_itemClick(item)">
      <img class="layout_img" :src="item.thumb_path" alt="thumb_path">
      <p class="text">{{item.sku}}</p>
    </li>
    <li class="loading">
        <v-progress-circular indeterminate color="green"></v-progress-circular>
    </li>
  </ul>
  <!-- 文字 -->
  <ul class="text" v-if="check === 'font'">
    text
  </ul>
  <!-- 背景 -->
  <ul class="bg" ref="listData" id="scroll-target" v-scroll:#scroll-target="onScroll" v-if="listData.length !== 0 && check === 'bg'">
    <li class="item" v-for="(item,index) in listData" :key="index" @click="on_itemClick(item)">
      <img class="layout_img" :src="item.thumb_path" alt="thumb_path">
      <p class="text">{{item.sku}}</p>
    </li>
    <li class="loading">
        <v-progress-circular indeterminate color="green"></v-progress-circular>
    </li>
  </ul>

  <content-placeholders v-if="listData.length === 0" v-for="item in [1,2,3,4]" :key="item" :rounded="true" class="conter">
    <content-placeholders-img />
    <content-placeholders-text :lines="1" />
  </content-placeholders>
</v-flex>